* {
  box-sizing: border-box;
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  overflow: auto;
  min-width: 375px;
  min-height: 100vh;
  margin: 0;
  font-family: Manrope, sans-serif;
  font-weight: 500;
  background: $main-back;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  padding: 17px 31px;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  background: $color-mark;
  border: 0;
  transition: $transition;

  &:hover {
    background: $mark-hover;
  }

  &--dark {
    background: #000;

    &:hover {
      background: #4c4c4c;
    }
  }

  &--transparent {
    color: #000;
    background: transparent;
    border: 1px solid #000;

    &:hover {
      color: #fff;
      background: #000;
      border: 1px solid #000;
    }
  }
}

.back {
  margin-bottom: 56px;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  color: $gray;
  background: transparent;
  border: 0;
  transition: $transition;

  &:hover {
    color: $mark-hover;
  }
}

textarea::placeholder,
input::placeholder {
  color: $gray;
}

.button-checkout {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: $color-mark;
  border: 0;
  transition: $transition;

  &.disabled {
    cursor: no-drop;
    background: #bdb9b9 !important;
  }

  &:disabled {
    cursor: no-drop;
    background: #bdb9b9;
  }

  &:hover {
    background: $mark-hover;
  }
}
